<tr>
	<td>:ID</td>
	<td><a href=":URL">image</a></td>
	<td>:FLAGS</td>
	<td>:NAME</td>
	<td><form method="POST" action="index.php?fCount=:COUNT">
		<input type="hidden" name="id" value=":ID">
		<input type="submit" name="delete" value="Delete">
		<input type="submit" name="clear" value="Ignore">
	</form></td>
</tr>