body{
	background: lightgray;
}

#canvasTitle{
	margin-left:5%;
	position:absolute;
	animation:myfirst 1s linear 0s alternate;
	/* Safari and Chrome: */
	-webkit-animation:myfirst 1s linear 0s alternate;
	z-index: 999;
	top: 75px;
	left: 0px;
}

#appDiv{
	margin-left: 5%;
	/*width: 768px;
	height: 1024px;*/
	width:330;
	height:330;
	border:1px solid black;
}

#canvasDiv{
	display:none;
	width:100%;
}

canvas{
	/*border: 1px solid blue;*/
	opacity: 1;
}

.paintbrush, .paintbrushSize{
	display:none;
	opacity: 0.6;
}

.a_gallery{
	display: none;
	float: left;
    width: 25%;
    height: 25%;
    position: relative;
    border: 1px solid #ccc;/*#333;*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.a_gallery img{
	/*display: none;*/
	width: 100%;
	height: 100%;
	-webkit-transition-property: width, height; /* we specify, what properties we need to change*/
	-webkit-transition-duration: 300ms;  /*we specify, with what speed it is necessary to return an image in its initial look*/
	-moz-transition-property: width, height;
	-moz-transition-duration: 300ms;
	-o-transition-property: width, height;
	-o-transition-duration: 300ms;
	position: absolute;
	opacity: 0.3; /* add opacity*/
	cursor: pointer;
}

.a_gallery:focus img{
    width: 300%;  /*we increased an image to this size*/ 
    height: 300%;
    position: absolute;
    opacity: 1; /* transparency is not needed */
    z-index: 1; /* for a photo to enlarge over all images */
    -moz-box-shadow: 0 0 15px 2px #000;
    -webkit-box-shadow: 0 0 15px 2px #000;
    box-shadow: 0 0 15px 2px #000; /* we add some beauty */
    -webkit-transition-property: width, height; /* we decrease the image */
    -webkit-transition-duration: 1s; /* we specify, with what speed it is necessary to increase an image */
    -webkit-transition-delay: 0.3s; /* as a browser will process it, before enlarging a photo */
    -moz-transition-property: width, height;
    -moz-transition-duration: 2s;
    -moz-transition-delay: 0.3s;
    -o-transition-property:width, height;
    -o-transition-duration: 2s;
    -o-transition-delay: 0.3s;
    /*cursor: default;*/
}

.a_gallery:nth-child(4n+6) img, .a_gallery:nth-child(4n+4) img{
    right: 0;
} /* every fourth element starting with 3rd and 4th will be enlarged from the right border of browser window */

/*.a_gallery:nth-child(n+10) img{
    bottom: 0;
} /* all elements, starting with the ninth will begin to enlarge upwards */

.gallery {
  display: none;
}

.closed{
	-webkit-text-shadow: 0px 0px 5px #222;
	-moz-text-shadow: 0px 0px 5px #222;
	text-shadow: 0px 0px 5px #222;
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	cursor: pointer;
	display:none;
	position: absolute;
	font-size: 3em;
	font-weight: bold;
	color: white;
	margin-left: 55%;
	top: 18%;
}

.a_gallery:focus~.closed{
    display: block;
}


#table_gallery {
  margin: 0 auto;
  margin-top: 10%;
}

input{
	border:solid black 1px;
	border-right: #a9a9a9 2px solid;
	padding-right: 2px;
	border-top: #a9a9a9 2px solid;
	padding-left: 2px;
	padding-bottom: 2px;
	border-left: #a9a9a9 2px solid;
	padding-top: 2px;
	border-bottom: #a9a9a9 2px solid;
}

input:hover{
	background: white;
}

input:focus{
	background: white;
}

#save{
	background: red;
	width: 50px;
	height: 25px;
	margin-left:80%;
}

#savepngbtn{
	text-decoration:none;
}
#savepngbtn:hover{
	cursor: pointer;
}

#savepngbtn:active{
	background: red;
}

#button_save{
/*	background: red;
	width: 50px;
	height: 25px;*/
	/*margin-left:80%;*/
}

.CanvasGalleryContainer{
	margin-left:10%;
	position:absolute;
	/*height: 150px;
	width: 600px;
	top: 650px;*/
	
	height:58;
	width:234;
	top:254;
	
	z-index:999;
}

.CanvasGalleryDiv{
	display: inline;
	width: 50%;
}

.CanvasGalleryDiv:hover,.paintbrushSize:hover{
	cursor:pointer;
}

.canvasgallery img{
	display: inline;
	height: 100%;
	/*width: 49%;*/
	animation:fade 1s linear 0s alternate;
	-webkit-animation:fade 1s linear 0s alternate;	/* Safari and Chrome: */
}

@keyframes myfirst
{
   from {left:0px; top:0px;}
   to {left:0px; top:250px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
    from {left:0px; top:0px;}
    to {left:0px; top:250px;}
}

@keyframes fade
{
   from {opacity:0;}
   to {opacity:1;}
}

@-webkit-keyframes fade /* Safari and Chrome */
{
   from {opacity:0;}
   to {opacity:1;}
}