
/* Responsive HTML5 gallery tutorial
 *
 * http://tomicloud.com/2014/01/responsive-gallery
 * https://github.com/tomimick/responsive-image-gallery */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
	background-color: #000;
	font: 100% Arial, Helvetica, Geneva, sans-serif;
	color: #9aa6af;
	text-rendering: optimizelegibility;

	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;

	-moz-tap-highlight-color:rgba(0,0,0,0);
	-moz-text-size-adjust: none;
	-moz-font-smoothing: antialiased;

	-ms-tap-highlight-color:rgba(0,0,0,0);
	-ms-text-size-adjust: none;
	-ms-font-smoothing: antialiased;

    overflow-x: hidden;
    font-size: 90%;
}

ol, ul {
	list-style: none;
}

.hid {
    display: none;
}

#top,
#menu,
#main,
#paintTools,
#topsearch {

    /* Prevents Flickering  */
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
}

/*--------------------------------------------------------------------------*/

#top {
    position: fixed;
    top: 0;
    background: #333;
    left: 0;
    width: 100%;
    border-bottom: solid 2px #39A0D1;
    padding: 0.5%;
	height: 60px;

    z-index: 9;
}
#top a {
    text-decoration: none;
}

#menubut {
    display: inline-block;
    margin-right: 0.5em;
    padding: 0.8em;
}

#top h1 {
    text-shadow: 2px 2px 1px #000;
    /* display: inline-block; */
    white-space: nowrap;
    margin-top: 0.3em;
}
#top h1 a {
    color: #fff;
}

#top #topright {
    position: absolute;
    right: 2%;
    top: 15%;
    text-align: right;
    /* width: 60%; */
    z-index: 30;
    height: 100%;
}
#top #topright * {
    vertical-align: middle;
}

#topsearch {
    position: absolute;
    left: 0;
    top: 0;

    z-index: 2;
    width: 100%;
    height: 60px;
    background: #000;
    padding: 1%;
    opacity: 0;
}
#topsearch.opensearch, #main.opensearch {
	-webkit-transform: translate3d(0,60px,0);
	-moz-transform: translate3d(0,60px,0);
	transform: translate3d(0,60px,0);
    opacity: 1;
}
#topsearch input {
    width: 98%;
    margin: 0.3em;
    border-radius: 20px;
    border: 0;
    font-size: 110%;
    outline: 0;
    font-weight: bold;
    color: #444;
    background: #ddd;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    padding: 0.4em 1em;
}
#top ul {
    display: none;
}
#topsearch input:focus {
    background: #fff;
}

a.ico:hover {
    color: #FFFFFF;
}

a.ico {
    color: #39A0D1;
    padding: 10px;
}
/*Slideout Menu and associated movings*/
/*--------------------------------------------------------------------------*/

#menu {
    width: 40%;
    background: #333;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;

    z-index: 20;
    opacity: 0;

    overflow-y: auto;
    -webkit-overflow-scroll: touch; /* for smooth scrolling on mobile */

    -webkit-transform: translate3d(-100%,0,0);
	-moz-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

#menu ul {
    margin-top: 60px;
}

ul.menu a {
    padding: 20px 14px;
    display: block;
    text-decoration: none;
    color: #A7A7A7;
    font-weight: bold;
    font-size: 120%;
    white-space: nowrap;
}
ul.menu a.active {
    background: #929292;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}
h1:active, a.ico:active, ul.menu a:active {
    position: relative;
    top: 2px;
}

ul.menu a:hover {
    background: #C7C7C7;
    color: #fff;
    cursor: pointer;
}

#top ul.menu a {
    padding: 5px;
    background: none;
    margin-right: 15px;
}
#top ul.menu a.active {
    text-shadow: 2px 2px 1px #000;
}

#menubut {
    float: left;
}

#menu.openmenu {
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
    opacity: 1;
}

#main.openmenu,
#top.openmenu {
	-webkit-transform: translate3d(39%,0,0);
	-moz-transform: translate3d(39%,0,0);
	transform: translate3d(39%,0,0);
}
#main.openmenu {
    opacity: 0.5;
}

#menu > p {
    position: absolute;
    text-align: center;
    bottom: 5%;
    width: 100%;
    color: #666;
}


/*Tool and associated movings*/
/*--------------------------------------------------------------------------*/

#paintTools {
	
    width: 100%;
    background: #333;
	max-height: 124px;
	position:fixed;
	left: 0;
	top: 0;

	border:solid blue 1px;
	
    z-index: 9;
	opacity: 0;
	text-align: center;
    overflow-y: auto;
    -webkit-overflow-scroll: touch; /* for smooth scrolling on mobile */

	-webkit-transform: translate3d(0,-100%,0);
	-moz-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0);

}

#paintTools ul {
   /* margin-top: 60px;*/
}

ul.tools a {
    padding: 20px 14px;
    display: block;
    text-decoration: none;
    color: #A7A7A7;
    font-weight: bold;
    font-size: 120%;
    white-space: nowrap;
}
ul.tools a.active {
    background: #929292;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}
h1:active, a.ico:active, ul.tools a:active {
    position: relative;
    top: 2px;
}

ul.tools a:hover {
    background: #C7C7C7;
    color: #fff;
    cursor: pointer;
}

#top ul.tools a {
    padding: 5px;
    background: none;
    margin-right: 15px;
}
#top ul.tools a.active {
    text-shadow: 2px 2px 1px #000;
}


#main.opentools {
}

/*top bar is 60 px high, so to shift right under it, we shift to 60px*/
#paintTools.opentools {
	-webkit-transform: translate3d(0, 60px,0);
	-moz-transform: translate3d(0, 60px,0);
	transform: translate3d(0, 60px,0);

    opacity: 1;
}


#top.opentools {
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


#paintTools > p {
    position: absolute;
    text-align: center;
    bottom: 5%;
    width: 100%;
    color: #666;
}


/*--------------------------------------------------------------------------*/

#main {
    z-index: 6;
    /* overflow: visible; */
    padding-bottom: 0px;
    position: relative;
    top: 60px;
}

.cent {
    text-align: center;
    padding-top: 8%;
    color: #ddd;
}
.cent p {
    margin: 1%;
}
.cent li:before {
    color: yellow;
    display: inline-block;
    font-family: FontAwesome;
    content: "\f005";
    font-size: 2em;
}

#topright a {
    text-decoration: none;
    font-weight: bold;
    font-size: 110%;
    white-space: nowrap;
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
}

h2 {
    margin-bottom: 2%;
}

/*--------------------------------------------------------------------------*/
/* icons */

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-7x {
  font-size: 7em;
}
.fa-bars:before {
  content: "\f0c9";
}
.fa-search:before {
  content: "\f002";
}
.fa-home:before {
  content: "\f015";
}
.fa-puzzle-piece:before {
  content: "\f12e";
}
.fa-times:before {
  content: "\f00d";
}
.fa-star:before {
  content: "\f005";
}
.fa-flag:before {
  content: "\f024";
}
.fa-arrow-circle-o-right:before {
  content: "\f18e";
}
.fa-arrow-circle-o-left:before {
  content: "\f190";
}
.fa-plus-square:before {
  content: "\f0fe";
}
.fa-plus:before {
  content: "\f067";
}
.fa-ban:before {
  content: "\f05e";
}
.fa-refresh:before {
  content: "\f021";
}
.fa-cloud-download:before {
  content: "\f0ed";
}
.fa-random:before {
  content: "\f074";
}
.fa-location-arrow:before {
  content: "\f124";
}
.fa-picture-o:before {
  content: "\f03e";
}
.fa-pencil-square-o:before {
  content: "\f044";
}
.fa-info-circle:before {
  content: "\f05a";  
}
.fa-book:before {
  content: "\f02d";
}


/*--------------------------------------------------------------------------*/
/* images */

div.my {
    position: relative;
    width: 33.3%;
    height: 200px;
    cursor: zoom-in;
    cursor: -webkit-zoom-in;
    display: block;
    float: left;
    padding: 2px;
    overflow: hidden;
    background: #222;
}
div.my img {
    width: 100%;
    height: 100%;
}

div.show {
    -webkit-transition: -webkit-transform 0.2s ease-out;
    -moz-transition: -moz-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    opacity: 1;

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;

	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* title */
div.my > div {
    position: absolute;
    -webkit-transition: -webkit-transform  0.2s ease-out;
    -moz-transition: -moz-transform  0.2s ease-out;
    transition: transform  0.2s ease-out;

	-webkit-transform: translate3d(0,100px,0);
	-moz-transform: translate3d(0,100px,0);
	transform: translate3d(0,100px,0);
    opacity: 0.7;
    background: #222;
    color: #fff;
    height: 30%;
    bottom: 0;
    width: 99%;
    padding: 5px;
    font-size: 90%;
}

html:not(.touch) div.my:hover {
	-webkit-transform: scale(1.1,1.1);
	-moz-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
    z-index: 30;
}

html:not(.touch) div.my.more.show:hover {
    -webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    transform: scale(1,1);
    z-index: 30;
}

html:not(.touch) div.my:hover > div {
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

html:not(.touch) div.my:active {
    background: #fff;
}
html.touch div.my:active {
    opacity: 0.7;
}

/* favorite-star in images */
div.my.favorite:after {
    font-family: FontAwesome;
    font-weight: bold;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f005";
    top: 5px; right: 5px;
    position: absolute;
    color: yellow;
    text-shadow: 1px 1px 1px #000;
}

div.more {
    background: #333;
    text-align: center;
    color: #fff;
    line-height: 90%;
}
div.more i {
    margin: 30% auto;
}
html:not(.touch) div.more:active {
    background: #777;
}
div.more.start i {
	-webkit-transform: rotate(359deg);
    -webkit-transition: all 0.7s ease-out;
    -moz-transform: rotate(359deg);
    -moz-transition: all 0.7s ease-out;    
}

div.my.fadeaway {
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
	-webkit-transform: scale(0.1,0.1) rotate(-40deg);
	-moz-transform: scale(0.1,0.1) rotate(-40deg);
	transform: scale(0.1,0.1) rotate(-40deg);
}


/*--------------------------------------------------------------------------*/
/* carousel */
/* - partly from hammer.js demo */

#carousel {
    display: none;
    position: absolute;
    z-index: 100;
    background: black;
    top: 0; left: 0;
    width: 100%; height: 100%;
    cursor: col-resize;

    /* padding: 1%; */
    overflow: hidden;

    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transform-style: preserve-3d;

    -webkit-transform-origin: 50% 25%;
    -moz-transform-origin: 50% 25%;
    transform-origin: 50% 25%;
}
#carousel.anim1 {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

	-webkit-transform: scale(0.8,0.8);
	-moz-transform: scale(0.8,0.8);
	transform: scale(0.8,0.8);
    opacity: 0;
}
#carousel.anim2 {
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	transform: scale(1,1);
    opacity: 1;
}
#carousel li > img {
    width: 98%;
    height: 100%;
   /* height: 56.25vw;*/ /* 100/56.25 = 1.778 */
   /* max-height: 100vh;
    max-width: 177.78vh;*/ /* 16/9 = 1.778 */

/* centering: http://coding.smashingmagazine.com/2013/08/09/absolute-horizontal-vertical-centering-css/ */
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
#carousel li > img.portrait {
    width: auto;
    height: 100%;
}

#carousel li > div {
    opacity: 0.4;
    color: #fff;
    background: #000;

    position: absolute;
    height: 12%;
    bottom: 0;
    width: 100%;
    padding: 2%;
    font-size: 120%;
}

#carousel i.fa {
    position: absolute;
    top: 3%;
    right: 3%;
    color: #39A0D1;/*#AD9F9F;*/
    opacity: 0.4;
    cursor: pointer;
    z-index: 200;
}

#carousel i.fa-flag {
    color: rgb(167, 86, 86);
    opacity: 1;
    left: 2%;
    right: auto;
}

#carousel i.flagged {
    color: #E20000;
}

#carousel li > i.favorited {
    color: yellow;
    opacity: 1;
}
#carousel i.fa:hover {
    text-shadow: 3px 3px 2px #555;
    opacity: 1;
}
#carousel i.fa-arrow-circle-o-left {
    left: 2%;
    top: 50%;
    right: auto;
    color: #39A0D1;
    opacity: 1;
}
#carousel i.fa-arrow-circle-o-right {
    top: 50%;
    right: 2%;
    color: #39A0D1;
    opacity: 1;
}
html.touch #carousel i.fa-arrow-circle-o-left,
html.touch #carousel i.fa-arrow-circle-o-right {
    display: none;
}

#carousel i.fa:active {
/* use translate instead of "top: 2px;" top used already! */
    -webkit-transform: translate3d(0,2px,0);
    -moz-transform: translate3d(0,2px,0);
    transform: translate3d(0,2px,0);
}

#carousel ul.animate {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

#carousel ul {
    transform: translate3d(0%,0,0) scale3d(1,1,1);
    -ms-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -moz-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -webkit-transform: translate3d(0%,0,0) scale3d(1,1,1);
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;

    box-shadow: 0 0 20px rgba(0,0,0,.2);
    position: relative;
    height: 100%;
}

#carousel li {
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    -webkit-transform-style: preserve-3d;

    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/*--------------------------------------------------------------------------*/
/* canvas css */

#canvasTitle {
    margin-top: 100px;
    /*position: absolute;*/
}

#canvasTitleImg {
    position: absolute;
    max-width: 80%;
    /*top: 10%;*/
    left: 10%;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.9);
}

#canvasTitleImg:empty {
    /*top: 50%;*/
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#CanvasGalleryContainer {
    /*top: 50%;*/
    left: 50%;
    margin-top: 300px;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.CanvasGalleryDiv{
    display: inline;
}

.CanvasGalleryDiv i {
    color: gray;
}

canvas{
   /* border: solid black 1px;*/
   	/*margin: 0 auto;
	vertical-align: middle;
	background: white;
    opacity: 1;*/
   
}

.CanvasGalleryDiv:hover,.paintbrushSize:hover, .paintbrush:hover{
    cursor:pointer;
}

.canvasgallery{
    text-decoration: none;
    color: #9aa6af;
    font-weight: bold;
}

.canvasgallery div{
    display:block;
}

.canvasgallery img{
    display: inline;
    width: 40%;
    animation:fade 1s linear 0s alternate;
    -webkit-animation:fade 1s linear 0s alternate;  /* Safari and Chrome: */
    -moz-animation:fade 1s linear 0s alternate;
}

#appDiv{
    border:1px solid black;

}

#canvasDiv{
    width:100%;
}

#actualcanvasdiv {
    background:white;
		margin-left:auto;
	margin-right:auto;
	
}

.paintbrush, .paintbrushSize{
    display: inline;
    opacity: 0.6;
}

.paintbrush {

}


@keyframes titleSlide
{
   from {left:0px; top:0px;}
   to {left:0px; top:100px;}
}

@-webkit-keyframes titleSlide
{
    from {left:0px; top:0px;}
    to {left:0px; top:100px;}
}

@keyframes fade
{
   from {opacity:0;}
   to {opacity:1;}
}

@-webkit-keyframes fade
{
   from {opacity:0;}
   to {opacity:1;}
}

/*--------------------------------------------------------------------------*/
/* media queries */

/* mobile first design: smallest screen as default; 3 tiles */

/* 1st breakpoint: hide menu, show tabs; 4 tiles */
@media screen and (orientation: portrait) {
  #CanvasTitleImg { max-width: 90%; }
}

@media screen and (orientation: landscape) {
  #CanvasTitleImg { max-height: 90%; }
}

@media (max-width: 799px) {
   /* #canvasTitle {
        margin-left: 10%;
    }
    #canvasTitle img {
        width: 90%;
    }*/
/*    #CanvasGalleryContainer {
        margin-left: 15%;
    }*/
    #appDiv {
        margin-left: 0px;
    }
}
@media (max-width: 530px) {
    .paintbrush {
        float:none;
    }
}

/*@media (min-width: 470px) and (max-width: 500px) {
    .canvasgallery i {
        font-size:10em;
    }
}

@media (max-width: 469px){
    .canvasgallery i {
        font-size:9em;
    }
}

@media (min-width: 320px) and (max-width: 350px) {
    .canvasgallery i {
        font-size:8em;
    }
}
*/
@media (min-width: 855px)   {
    .canvasgallery i {
        font-size:7em;
    }
}

@media (min-width: 855px) and (max-width: 900px)  {
    .canvasgallery i {
        font-size:11em;
    }
}


@media (min-width: 605px) and (max-width: 855px) {
    .canvasgallery i {
        font-size:9em;
    }
}

@media (min-width: 365px) and (max-width: 427px){
    .canvasgallery i {
        font-size:6em;
    }
}

@media (min-width: 355px) and (max-width: 365px){
    .canvasgallery i {
        font-size:5em;
    }
}

@media (max-width: 355px){
    .canvasgallery i {
        font-size:4em;
    }
}

@media (min-width: 660px) {
    body {
        font-size: 100%;
    }

    #menu {
        display: none;
    }
    #menubut, #top h1 {
        display: none;
    }
    #top ul {
        display: block;
    }
    #top li {
        display: inline-block;
    }
    div.my { width: 25%; }
    #menu.openmenu,
    #main.openmenu,
    #top.openmenu {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    
}

/* other breakpoints: just show more tiles */

@media (min-width: 800px) {
    div.my { width: 20%; }
}
@media (min-width: 1000px) {
    div.my { width: 16.66%; }
}
@media (min-width: 1200px) {
    div.my { width: 14.28%; }
}
@media (min-width: 1600px) {
    div.my { width: 12.5%; }
}

/* dialog box */
.modal {
    background-color:#fff;
    display:none;
    z-index: 999;
    width:350px;
    padding:15px;
    text-align:left;
    border:2px solid #333;
 
    /*opacity:0.8;*/
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
  }
 
  .modal h2 {
    background:url(/media/img/global/info.png) 0 50% no-repeat;
    margin:0px;
    padding:10px 0 10px 45px;
    border-bottom:1px solid #333;
    font-size:20px;
  }
